body{
    background-image: linear-gradient(100deg, #2c3e50, #bdc3c7, #2c3e50); 
}

a{
    color: gray;
    text-decoration: none;
}

a.active, a:hover{
    color: white;
}

p{
    color: black;
}

h1{
    color: darkslategray;
}

form{
    border-style: solid;
    border-color: gainsboro;
    border-width: 0.5px;
}

.upload_files{
    background-color: inherit;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: space-between;
    max-width: 30em;
}

.login{
    background-color: white;
    width: fit-content;
    height: auto;

    position: fixed;
    top: 5%;
    right: 25%;
}

td, tr{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.middle{
    position: fixed;
    width: 60%;
    left: 25%;
    margin-left: -100px;
    padding-left: 25px;

}

article{
    height: 100%;
    top: 10%;
    margin-top: -100px;
    padding-top: 50px;
    background-color: whitesmoke;
}

header{
    position: fixed;
    background-color: #181818;
    z-index: 1;
    /*ca sa fie culoarea navigatiei pana sus*/
    margin-top: -10px;
    /*pentru ca textul sa se vada*/
    padding-top: 5px;
    max-height: 40px;
}

nav{
    display: flex;
    justify-content: space-around;      
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2em;
    background-color: #181818;
    text-align: center;
}
