<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>

<body>
    <header class="middle">
        <nav>
            <a class="active" href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('uploads') }}">Upload</a>
            <a href="{{ url_for('upload_main')}}">Uploaded files</a>
        </nav>
    </header>

    <article class="middle">
        <h1>Home</h1>
        <p>Poti uploada sau descarca fisiere.</p>

        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
        <div class="login">
            <form>
                <input type="text" placeholder="Username">
            </form>
        </div>
    </article>
</body>

<footer class='middle'>
    <a class="active" href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('uploads') }}">Upload</a>
    <a href="{{ url_for('upload_main')}}">Uploaded files</a>
</footer>

</html>
