<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Uploads</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>

<body>

    <header class="middle">
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a class="active" href="{{ url_for('uploads') }}">Upload</a>
            <a href="{{ url_for('upload_main')}}">Uploaded files</a>
        </nav>
    </header>
    
    <article class="middle">
        <h1>Upload</h1>

        <p>Selecteaza fisierul pe care dpresti sa il uploadezi si apasa pe 'Upload'.</p>
        <p>Fisierele uploadate pot fi gasite in tabu-ul <a href="{{ url_for('upload_main')}}">uploaded_files</a>.</p>

        <div class="upload_files">
            <form enctype=multipart/form-data method="POST">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>
       
        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
        <div class="login">
            <form>
                <input type="text" placeholder="Username">
            </form>
        </div>
    </article>

</body>

<footer class="middle">
    <a href="{{ url_for('home') }}">Home</a>
    <a class="active" href="{{ url_for('uploads') }}">Upload</a>
    <a href="{{ url_for('upload_main')}}">Uploaded files</a>
</footer>

</html>
